<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CinPadd2.Properties.Settings.cinPaddConnectionString"
            connectionString="Data Source=FCMPORT2-WIN10;Initial Catalog=cinPadd;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CinPadd2.Properties.Settings.tfgCinPaddConnectionString"
            connectionString="Data Source=FCMPORT2-WIN10;Initial Catalog=tfgCinPadd;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>